body{
    
    background-color: #212221;
    color: #212221;
    margin: 0;
    padding: 40px;
    line-height: 1.6;;
    
}

.container{
    max-width: 500px;
    margin: auto;
    background: rgb(185, 185, 185);
    padding-left: 84px;
    padding-right: 84px;
    border-radius: 5px;
    align-items: center;
}

.homeworkList{
    list-style: none;
    color: #acacac;
}


