body{

    
    background-color: #212221;
    color: #333;
    margin: 0;
    padding: 40px;
    line-height: 1.6;;
}

.box{
    max-width: 500px;
    margin: auto;
    background: rgb(185, 185, 185);
    padding-left: 84px;
    padding-right: 84px;
    border-radius: 5px;
    align-items: center;
    
}




.intro{
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
}

img{
    max-width: 180px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

h2{
    color: #383838;
    padding-bottom: 10px;
}