@font-face {
    font-family: "uvKits";
    src: url(assets/uvKits.ttf);
}

body{
    font-family: "uvKits";
    background-color: #414141;
    color: #a0a0a0;
    margin: 0;
    padding: 40px;
    line-height: 1.6;
    display: flex;
    font-size: 20px;
}

.main{
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px
}


.header{
    
    background: #000000;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.imginfo{
    padding: 30px;
    border-radius: 5px;
}

.imgWrap{
    max-width: 150px;
    display: block;
}


.aboutme{
    background-color: #000000;
    padding: 20px;
}

.homework{
    margin: 40px 20px;
    padding: 20px;
    border-radius: 3px;
    width: 50%;
    background-color: #000000;
}

.homework h2{
    font-size: 30px;
    text-align: center;
}

.homeworkList{
    list-style: none;
    color: #acacac;
    margin-left: -40px;
    font-size:  25px;
}

.hwLink{
    color: #acacac;
    text-decoration: none;
}


h1{
    color: white;
}

h2{
    color: white;
    margin-bottom: 5px;
}